body,
html {
  font-family: "Raleway";
  font-size: 14px;
  scroll-behavior: smooth;
  // scroll-padding-bottom: 0.9s;
}

h1 {
  color: #fe7e18;
  font-family: 'Concert One', cursive;
  padding: 25px;
  height: 14rem;
}

h2 {
  color: #F97300;
  font-family: 'Lora', serif;
  font-weight: 400i;
}



/* меню*/
.navbar {
  background: #eb5201;
}





.nav-link,
.navbar-brand {
  color: #f4f4f4;
}

.navbar-brand:active {
  transform: scale(0.5);

}

.nav-link {
  margin-right: 1em !important;
  font-size: 18px;
}

.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/* header */

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 100px;

}

.position-left {
  width: 50%;

}

.position-right {
  width: 50%;
}

.description p {
  color: #38550f;
  font-size: 100%;
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
  padding: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  height: 8rem;
}





.social-buttons {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
}

.social-buttons img {
  display: block;
  width: 60px;
  height: 60px;
}


.social-button-item {
  padding: 10px;
  opacity: 0.8;
}

.social-button-item:active {
  transform: scale(0.8);
}



/* about*/

.about {
  padding: 1em;
  position: relative;
  background-color: white;
  text-align: center;
}



.about h2 {
  color: #fe7e18;
  font-family: 'Concert One', cursive;

}

.about h2:first-child {
  padding-top: 2em;
}

.about img {
  height: 100%;
  width: 100%;
  border-radius: 40%;
  object-fit: contain;
}

.about span {
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
}

.about .desc {
  padding: 2em;

}



.about .desc p {
  color: #38550f;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.progress {
  margin: 20px;
}



/*Portfolio*/
.portfolio-wrapper {
  margin: 4em 0;
  position: relative;
}

.portfolio-wrapper h2 {
  padding: 2em;
}

.portfolio-wrapper img {
  height: 14rem;
  width: 100%;

}

.card {
  margin: 1.2em;
  box-shadow: 0px 0px 15px 6px grey;

}

.card-title {
  width: 100%;
}

.card:hover {
  box-shadow: 0px 10px 15px 6px grey;
  top: -10px;
  background-color: #eb5201;
  color: white;
}

.card-img-top img {
  cursor: pointer;
}



.card-body {
  display: block;
}

.column {
  display: none; /* Hide columns by default */
}

/* Content */
// .content {
//   background-color: white;
//   padding: 10px;
// }

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn-portfolio {
border: none;
outline: none;
padding: 12px 16px;
background-color: white;
cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn-portfolio:hover {
background-color: #eb5201;
color: white;
}

/* Add a dark background color to the active button */
.btn-portfolio.active {
background-color: #ffc107;
 color: black;
}
/*certificates*/
#certificates h2 {
  padding-top: 2em;
}

/*blog*/
.blog {
  margin: 4em 0;
  position: relative;
}

.blog h2 {

  margin: 2em;
}

.blog .card {
  box-shadow: 0 0 20px #ccc;
}

.blog .card img {
  width: 100%;
  height: 12em;
}

.blog .card-title {
  color: #F97300;

}

.blog .card-body {
  padding: 1em;
}


@media screen and (max-width: 370px) {
  .linkedin {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {

  .description p {
    width: 90%;
  }

  .social-buttons {
    padding: 0;
  }

  .social-buttons img {
    display: block;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 450px) {


  .social-buttons img {
    display: block;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
  }

  .position-left {
    width: 100%;
  }

  .position-right {
    width: 100%;
  }

  .about .desc {
    border-left: none;
  }

  .about h3 {
    margin-top: 2em;
  }

  .card {
    margin-top: 1em;

  }

  .item {
    margin-bottom: 5em;
  }

  .social-button-item {
    padding: 5px;
  }


}

@media screen and (max-width: 991px) {
  .item {
    margin-bottom: 4em;
  }

 
}


/*якоря*/
#blog,
#portfolio,
#our-team,
#contact {
  border-top: 10px solid transparent;
  margin-top: -10px;
  padding: 15px;
  /* паддинги - без проблем */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}



:root {
  --penguin-size: 57px;
  --penguin-skin: black;
  --penguin-belly: white;
  --penguin-beak: orange;
}


.penguin {
  position: absolute;
  margin: auto;
  display: block;
  width: var(--penguin-size, 300px);
  height: var(--penguin-size, 300px);
  top: 0;
  left: 50px;
}

.right-cheek {
  top: 15%;
  left: 35%;
  background: var(--penguin-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.left-cheek {
  top: 15%;
  left: 5%;
  background: var(--penguin-belly, white);
  width: 60%;
  height: 70%;
  border-radius: 70% 70% 60% 60%;
}

.belly {
  top: 60%;
  left: 2.5%;
  background: var(--penguin-belly, white);
  width: 95%;
  height: 100%;
  border-radius: 120% 120% 100% 100%;
}

.penguin-top {
  top: 10%;
  left: 25%;
  background: var(--penguin-skin, gray);
  width: 50%;
  height: 45%;
  border-radius: 70% 70% 60% 60%;
}

.penguin-bottom {
  top: 40%;
  left: 23.5%;
  background: var(--penguin-skin, gray);
  width: 53%;
  height: 45%;
  border-radius: 70% 70% 100% 100%;
}

.right-hand {
  top: 5%;
  left: 25%;
  background: var(--penguin-skin, black);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 120% 30%;
  transform: rotate(130deg);
  z-index: -1;
  animation-duration: 3s;
  animation-name: wave;
  animation-iteration-count: infinite;
  transform-origin: 0% 0%;
  animation-timing-function: linear;
}

@keyframes wave {
  10% {
    transform: rotate(110deg);
  }

  20% {
    transform: rotate(130deg);
  }

  30% {
    transform: rotate(110deg);
  }

  40% {
    transform: rotate(130deg);
  }
}

.left-hand {
  top: 0%;
  left: 75%;
  background: var(--penguin-skin, gray);
  width: 30%;
  height: 60%;
  border-radius: 30% 30% 30% 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.right-feet {
  top: 85%;
  left: 60%;
  background: var(--penguin-beak, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-80deg);
  z-index: -2222;
}

.left-feet {
  top: 85%;
  left: 25%;
  background: var(--penguin-beak, orange);
  width: 15%;
  height: 30%;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(80deg);
  z-index: -2222;
}

.right-eye {
  top: 45%;
  left: 60%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.left-eye {
  top: 45%;
  left: 25%;
  background: black;
  width: 15%;
  height: 17%;
  border-radius: 50%;
}

.sparkle {
  top: 25%;
  left: -23%;
  background: white;
  width: 150%;
  height: 100%;
  border-radius: 50%;
}

.blush-right {
  top: 65%;
  left: 15%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
}

.blush-left {
  top: 65%;
  left: 70%;
  background: pink;
  width: 15%;
  height: 10%;
  border-radius: 50%;
}

.beak-top {
  top: 60%;
  left: 40%;
  background: var(--penguin-beak, orange);
  width: 20%;
  height: 10%;
  border-radius: 50%;
}

.beak-bottom {
  top: 65%;
  left: 42%;
  background: var(--penguin-beak, orange);
  width: 16%;
  height: 10%;
  border-radius: 50%;
}



.penguin * {
  position: absolute;
}










  .row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */



